body {
    position: relative;
    align-items: center;
    text-align: center;
    background-color: #f5efee;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;

}

nav {
    background-color: #ab4b69;
    padding: 10px 0;
    position: relative;
    height: 70px;
    
}

.logo{
    margin-right: auto;
    margin-top: -15px;
    width: 70px;
    height: 70px;
    object-fit:cover;
    border-radius:8px ;
}


nav .stranice {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 50px;

}


nav .stranice li {
    margin: 0 15px;
}

nav .stranice a {
    text-decoration: none;
    color: #f5efee;
    font-size: 18px;
    font-weight: bold;
}

nav .stranice a:hover {
    color: #ffbdb4;
}

h2 {
    font-size: 25px;
    text-align: center;
    color: #A65069;
    margin-top: 20px;
}

p {
    margin: 0 15%;
    color: #333;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 50px;
    transition: opacity 0.3s ease;
}

p:hover {
    transform: scale(1.1);
    transition: 0.5s;
    opacity: 0.9;
}

.prva {
    width: 100%;
}
.dugme{
   display: block;
    margin: auto;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #ab4b69;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.dugme:hover {
     background-color: #ab4b69;
    transform: scale(1.1);
    transition: 0.5s;
}

.footer{
    background-color: #A65069;
    padding: 20px 40px;
    color: #fff;
    display: flex;
    position: relative;
    color: #fff;
    justify-content: space-between;
    height: auto;
}

.footer-left p {
    margin-left: auto;
    text-align: left;
    font-size: 12px;
    margin-top: 70px;
    color: #ffeaea;
}

.footer-center {
    display: flex;
    gap: 15px;
    align-items: center;
    text-align: center;
}

.social{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.social a{
    font-size: 18px;
    color: #f5efee;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.social a:hover{
    color: #333;
 }
.footer-right{
    display: flex;
    align-content:flex-end;
    margin-top: 75px;
    
}    
.footer-right a{
    text-align: right;
    transition: 0.3s ease;
    margin: auto;
    color: #f5efee;
    font-size: 12px;
}

@media (max-width: 600px) {

nav {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    }
    p {
    margin: 0 15%;
    text-align: center;
    font-size: 16px;
    color: #333;
}

    .logo {
        margin: 0;
    }

    nav .stranice {
        flex-direction: column;
        padding: 0;
        margin: 0;
        align-items: center;
    }

    nav .stranice li {
        margin: 8px 0;
    }


    input[type="text"], textarea {
        width: 80%;
    }

    .footer {
        display: flex;
        height: 100px;
    }
    .footer-left{
        display: flex;
    justify-content: center;
    }
    .footer-center li{
        display: flex;
        text-align: center;
    }
    
    }
    .footer-left p {
        margin-bottom: 0px;
        font-size: 10px;
    }
    

    .dugme {
    display: block;
    justify-self: center;
    align-self: center;
}


@media (max-width: 375px) {

    .dugme {
        width:100px;
    }

    nav .stranice {
        flex-direction: column;
    }

    nav .stranice li {
        margin: 10px 0;
    }

    input[type="text"], textarea {
        width: 80%;
    }

    .footer {
        display: flex;
        height: 100px;
        width: 375px;
        
    }
    .footer-left{
        display:flex;
        justify-content:center;
    }

}









