body  {
    position: relative;
    align-items: center;
    text-align: center;
    background-color: #f4edeb;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    animation: fadeIn 2s ease-in;
    max-height: fit-content;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
nav {
    background-color: #ab4b69;
    padding: 10px 0;
    position: relative;
    height: 70px;
    
}

.logo{
    margin-right: auto;
    margin-top: -15px;
    width: 70px;
    height: 70px;
    object-fit:cover;
    border-radius:8px ;
}


nav .stranice {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 50px;

}


nav .stranice li {
    margin: 0 15px;
}

nav .stranice a {
    text-decoration: none;
    color: #f5efee;
    font-size: 18px;
    font-weight: bold;
}

nav .stranice a:hover {
    color: #ffbdb4;
 }
h1 {
    font-size: 50px;
    text-align: center;
    color: #ab4b69;
    margin: 20px 0;
    opacity: 0;
    animation: slideIn 1.5s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

p {
    margin: 0 15%;
    color: #333;
}

video {
    width: 100%;
    object-fit:cover;
    object-position: bottom;
    height: 500px;
    margin: 0;
    padding: 0;
    display: block;
    border-radius: 0;
    object-position: top;
}

p:hover {
    transform: scale(1.1);
    transition: 0.5s;
    opacity: 0.8;
}
.text {
    margin: 0 10%;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 50px;
    transition: opacity 0.3s ease;
}

.carousel {
    width: 100%;
    height:600px;
    max-width: 600px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    flex-shrink: 0;
    transform: translateY(-110px);
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.prev { left: 10px; }
.next { right: 10px; }
h1{
    font-size: 30px;
    text-align: center;
    color: #A65069;
    margin-top: 30px;
}


h3 {
    font-size: 25px;
    text-align: center;
    color: #333;
}

.footer{
    background-color: #A65069;
    padding: 20px 40px;
    height: auto;
    color: #fff;
    display: flex;
    position: relative;
    color: #fff;
    justify-content: space-between;
}

.footer-left p {
    margin-left: auto;
    text-align: left;
    font-size: 12px;
    margin-top: 60px;
    color: #ffeaea;
}

.footer-center {
    display: flex;
    gap: 15px;
    margin-top: 5px;
}

.social{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.social a{
    font-size: 18px;
    color: #f5efee;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.social a:hover{
    color: #333;
}

.footer-right{
    display: flex;
    align-content:flex-end;
    margin-top: 75px;
    
}    
.footer-right p {
    color: #ffeaea;
    font-size: 14px;
    text-align: right;
    transition: 0.3s ease;
    margin: auto;
}
@media (max-width: 600px) {

    nav {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .logo {
        margin: 0;
    }
    p{
        font-size: 16px;
    }
    h1{
        font-size: 30px;
    }

    nav .stranice {
        flex-direction: column;
        padding: 0;
        margin: 0;
        align-items: center;
    }

    nav .stranice li {
        margin: 8px 0;
    }


    input[type="text"], textarea {
        width: 80%;
    }

    .footer {
        display: flex;
        height: 100px;
        max-width:600px;
    }
    .footer-left{
        display:flex;
        justify-content: center;
    
    }
    .footer-left p {
        margin-bottom: 0px;
        font-size: 10px;
    }
}
}



@media (max-width: 375px) {

    .dugme {
        margin: 20px auto;
    }

    nav .stranice {
        flex-direction: column;
    }

    nav .stranice li {
        margin: 10px 0;
    }

    input[type="text"], textarea {
        width: 80%;
    }

    .footer {
        max-width:375px;
    }
    .footer-left{
        justify-items: flex-start;
        margin-left: -25px;
    }

}
