
body {
    position: relative;
    align-items: center;
    text-align: center;
    background-color: #f5efee;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    animation: fadeIn 2s ease-in;

}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

nav {
    background-color: #ab4b69;
    padding: 10px 0;
    position: relative;
    height: 70px;
    
}

.logo{
    margin-right: auto;
    margin-top: -15px;
    width: 70px;
    height: 70px;
    object-fit:cover;
    border-radius:8px ;
}


nav .stranice {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 50px;

}


nav .stranice li {
    margin: 0 15px;
}

nav .stranice a {
    text-decoration: none;
    color: #f5efee;
    font-size: 18px;
    font-weight: bold;
}

nav .stranice a:hover {
    color: #ffbdb4;
 }    
h1 {
    margin-top: 20px;
    color: #A65069;
}

p {
    margin: 0 15%;
    font-size: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 50;
}

.dropdown-content {
    position: absolute;
    z-index: 100;
     background-color: #ffe0dc;
    border-radius: 5px;
    list-style: none;
    width: 200px;
    text-align: left;
    padding: 0;
    margin-top: 5px;
}


#dropdownButton {
    padding: 10px 15px;
    background-color: #ab4b69;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}



.dropdown-content li {
    padding: 12px;
    cursor: pointer;
    font-size: 18px;
}

.dropdown-content li:hover {
    background-color: #ffb9b4;
}
.service-box {
    margin: 40px auto;
    max-width: 700px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.service-box img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    transform: scale(1);
    transition: 0.4s;
}

.service-box img:hover {
    transform: scale(1.02);
}

h2 {
    color: #ab4b69;
}

.footer{
    background-color: #A65069;
    padding: 20px 40px;
    margin-top: 275px;
    height: 100px;
    color: #fff;
    display: flex;
    position: relative;
    color: #fff;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left p {
    margin-left: auto;
    text-align: left;
    font-size: 12px;
    margin-top: 60px;
    color: #ffeaea;
}
.social{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.social a{
    font-size: 18px;
    color: #f5efee;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.social a:hover{
    color: #333;
}

.footer-center {
    display: flex;
    gap: 15px;
    margin-top: 5px;
}

.footer-right{
    display: flex;
    align-content:flex-end;
    margin-top: 75px;
    
}    
.footer-right p {
    color: #ffeaea;
    font-size: 14px;
    text-align: right;
    transition: 0.3s ease;
    margin: auto;
}
@media (max-width: 600px) {

    nav {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .logo {
        margin: 0;
    }
    p{
        font-size: 16px;
    }
    h1{
        font-size: 30px;
    }

    nav .stranice {
        flex-direction: column;
        padding: 0;
        margin: 0;
        align-items: center;
    }

    nav .stranice li {
        margin: 8px 0;
    }


    input[type="text"], textarea {
        width: 80%;
    }

    .footer {
        display: flex;
        height: 100px;
    }
    .footer-left{
        justify-items: flex-start;
        margin-left: -15px;
        margin-bottom: 3px;
    
    }
    .footer-left p {
        margin-bottom: 0px;
        font-weight: 10px;
    }
    .dugme {
    display: block;
    justify-self: center;
    align-self: center;
}
}



@media (max-width: 375px) {

    .dugme {
        margin: 20px auto;
    }

    nav .stranice {
        flex-direction: column;
    }

    nav .stranice li {
        margin: 10px 0;
    }

    input[type="text"], textarea {
        width: 80%;
    }

    .footer {
        display: flex;
        height: 100px;
    }
    .footer-left{
        justify-items: flex-start;
        margin-left: -25px;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
